#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.countries{
    border: 2px solid salmon;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;

}
p{
    font-size: 1.2em;  
}
button{
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid salmon;
    background-color: white;
}
button:hover{
    background-color:salmon;
    color: white;
    font-weight: 600;
}
.details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
img{
    padding-top: 40px;
    padding-left: 20px;
    width:170px;
}